In [1]:
import pandas as pd
import os
import FinanceDataReader as fdr

In [3]:
path = './open'
list_name = 'Stock_List.csv'
stock_list = pd.read_csv(os.path.join(path,list_name))
stock_list['종목코드'] = stock_list['종목코드'].apply(lambda x : str(x).zfill(6))
stock_list

          종목명    종목코드    상장시장
0        삼성전자  005930   KOSPI
1      SK하이닉스  000660   KOSPI
2       NAVER  035420   KOSPI
3         카카오  035720   KOSPI
4    삼성바이오로직스  207940   KOSPI
..        ...     ...     ...
365      맘스터치  220630  KOSDAQ
366        다날  064260  KOSDAQ
367   제이시스메디칼  287410  KOSDAQ
368   크리스에프앤씨  110790  KOSDAQ
369     쎄트렉아이  099320  KOSDAQ

[370 rows x 3 columns]

In [4]:
start_date = '20220101'
end_date = '20220331'
sample_code = '005930'
stock = fdr.DataReader(sample_code, start = start_date, end = end_date)
stock

             Open   High    Low  Close    Volume    Change
Date
2022-01-03  79400  79800  78200  78600  13502112  0.003831
2022-01-04  78800  79200  78300  78700  12427416  0.001272
2022-01-05  78800  79000  76400  77400  25470640 -0.016518
2022-01-06  76700  77600  76600  76900  12931954 -0.006460
2022-01-07  78100  78400  77400  78300  15163757  0.018205
2022-01-10  78100  78100  77100  78000   9947422 -0.003831
2022-01-11  78400  79000  78000  78900  13221123  0.011538
2022-01-12  79500  79600  78600  78900  11000502  0.000000
2022-01-13  79300  79300  77900  77900  13889401 -0.012674
2022-01-14  77700  78100  77100  77300  10096725 -0.007702
2022-01-17  77600  77800  76900  77500   8785122  0.002587
2022-01-18  77600  77800  76600  77000   9592788 -0.006452
2022-01-19  76500  76900  76100  76300  10598290 -0.009091
2022-01-20  76200  76700  75900  76500   9708168  0.002621
2022-01-21  75800  75800  74700  75600  15774888 -0.011765
2022-01-24  75400  75800  74700  75100  13691134 -0.006614
2022-01-25  74800  75000  73200  74000  17766704 -0.014647
2022-01-26  73900  74400  73100  73300  12976730 -0.009459
2022-01-27  73800  74000  71300  71300  22274777 -0.027285
2022-01-28  71300  73700  71200  73300  21367447  0.028050
2022-02-03  74900  74900  73300  73300  17744721  0.000000
2022-02-04  74300  74600  73400  74000  12730034  0.009550
2022-02-07  73500  73600  72400  73000  14240838 -0.013514
2022-02-08  73800  74200  73000  73500  11736666  0.006849
2022-02-09  74300  74700  74000  74700   9699122  0.016327
2022-02-10  75600  75800  74700  75400  17746033  0.009371
2022-02-11  75000  75500  74600  74900  12205407 -0.006631
2022-02-14  74400  74500  73100  73700  13993255 -0.016021
2022-02-15  74100  74200  73100  73700   9320365  0.000000
2022-02-16  74600  74900  74200  74800  10767386  0.014925
2022-02-17  75000  75600  74500  75000  13605382  0.002674
2022-02-18  74600  74800  73700  74300  10122226 -0.009333
2022-02-21  73200  74300  72600  74200  10489717 -0.001346
2022-02-22  73000  73400  72800  73400  11692469 -0.010782
2022-02-23  73800  73800  72800  73000  10397964 -0.005450
2022-02-24  72300  72300  71300  71500  15759283 -0.020548
2022-02-25  72100  72600  71900  71900  13168484  0.005594
2022-02-28  71100  72100  71000  72100  17781783  0.002782
2022-03-02  72300  72400  71500  71700  12481430 -0.005548
2022-03-03  72300  73100  72200  72900  13232638  0.016736
2022-03-04  72700  72700  71200  71500  13409634 -0.019204
2022-03-07  70000  70600  69900  70100  18617138 -0.019580
2022-03-08  68800  70000  68700  69500  15828269 -0.008559
2022-03-10  70800  71200  70500  71200  21159248  0.024460
2022-03-11  70500  70700  69700  70000  15787655 -0.016854
2022-03-14  70000  70200  69600  70200   9040993  0.002857
2022-03-15  69800  70100  69500  69500  10258562 -0.009972
2022-03-16  70200  70500  69700  70400  10175750  0.012950
2022-03-17  71200  71800  70900  71200  17646315  0.011364
2022-03-18  70600  70900  70200  70700  14410038 -0.007022
2022-03-21  70900  71000  69900  69900  11169002 -0.011315
2022-03-22  69900  70500  69900  70300   9402666  0.005722
2022-03-23  70600  71200  70300  70500  12398025  0.002845
2022-03-24  69600  70300  69600  69800  37943357 -0.009929
2022-03-25  70100  70200  69600  69800  12986010  0.000000
2022-03-28  69500  69900  69200  69700  12619289 -0.001433
2022-03-29  70000  70300  69800  70200  13686208  0.007174
2022-03-30  70300  70500  69800  69900  12670187 -0.004274
2022-03-31  69900  70200  69600  69600  12350312 -0.004292